*{
    margin:0px;
    padding:0px;
}

.bg-control{
    background-image: url("image folder/aboutpage food-bg-1a.jpg");
    height:100vh;
    background-attachment: fixed;

}
.container-ab{
    border:solid;
    height:200px;
    width:200px;
}
